{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        }
      }
    ]
  ],
  "plugins": [
    [
      "dynamic-import-node",
      {
        "noInterop": true
      }
    ],
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "@server": "./server",
          "@versions": "./versions"
        }
      }
    ]
  ],
  "sourceMaps": true,
  "retainLines": true
}